.contact {
  background-color: var(--white);
  padding: 1rem;
}

.contact__title,
.contact__text {

  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact__title {
  font-size: 1.12rem;
  font-weight: 500;
}

.contact__text {
  font-weight: 300;
  margin: 1rem 0;
}

.contact__email {
  padding: 0.8rem 1rem;
  border: 2px solid var(--blue);
  border-radius: 1.5rem;
  width: 90%;
  color: var(--blue);
}

.contact__email::placeholder {
  font-family: var(--font);
  color: var(--blue);
  background: url('../public/Message.svg');
  background-repeat: no-repeat;
  padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__title {
    font-size: 1.5rem;
  }

  .contact__description {
    margin-right: 3rem;
    width: 30%;
  }

  .contact__email {
    width: 30%;
  }
}

@media screen and (min-width: 1728px) {
  .contact {
    padding: 3rem 20vw;
  }
}