@import url("../styles/header.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;

  --bg-color: #EBECEE;
  --menu-text: #EB9B00;
  --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

  --font: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
}